# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinf
# Ignorar modelos grandes
*.pt

# Ignorar videos
*.mp4
*.mov
*.avi

# Ignorar carpetas de resultados de entrenamiento
runs/

# Archivos temporales
*.log
__pycache__/
*.pyc

# Archivos de sistema
.DS_Store
Thumbs.db

# Ignorar imágenes y etiquetas del dataset
src/dataset/train/
src/dataset/valid/
src/vision/frames_rf/